.footer {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }

  &__logo {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
  }

  &__decription {
    display: block;
    font-size: var(--small-font-size);
    margin: 0.25rem 0 var(--m-3);
  }

  &__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--m-2);
  }

  &__title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--m-2);
  }
  
  &__link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--m-1);
  }
  
  &__link:hover{
    color: var(--first-color);
  }
  
  &__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
  }
}