.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    margin-bottom: var(--m-2);
  }

  &__link,
  &__logo,
  &__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
  }

  &__logo {
    &:hover {
      color: var(--first-color);
    }
  }

  &__link {
    transition: color 300ms ease-in-out;

    &:hover {
      color: var(--first-color);
    }
  }

  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.change-theme {
  position: initial;
  margin-left: var(--m-2);
}