.nav {
  max-width: 1024px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    margin-bottom: $m-2;
  }

  &__link,
  &__logo,
  &__toggle {
    color: $text-color;
    font-weight: $font-medium;
  }

  &__logo {
    &:hover {
      color: $first-color;
    }
  }

  &__link {
    transition: color 300ms ease-in-out;

    &:hover {
      color: $first-color;
    }
  }

  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
}