.button {
  display: inline-block;
  background-color: $first-color;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  transition: background 300ms ease-in-out;
  &:hover {
    background: $first-color-alt;
  }
}