.section {
  padding: 4rem 0 2rem;

  &-title, &-subtitle {
    text-align: center;
  }

  &-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--m-3);
  }

  &-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--m-1);
  }
}

.bd {
  &-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--m-2);
    margin-right: var(--m-2);
  }
  
  &-grid {
    display: grid;
    gap: 1.5rem;
  }
}


.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}