/*===== GOOGLE FONTS =====*/
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 0;

    /*========== Colors ==========*/
    --first-color: 0;
    --first-color-alt: ;
    --title-color: 0;
    --text-color: 0;
    --text-color-light: 0;
    --body-color: 0;
    --container-color: 0;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 0;
    --h1-font-size: 0;
    --h2-font-size: 0;
    --h3-font-size: 0;
    --normal-font-size: 0;
    --small-font-size: 0;
    --smaller-font-size: 0;

    /*========== Font weight ==========*/

    /*========== Margenes ==========*/
    --mb-1: 0;
    --mb-2: 0;
    --mb-3: 0;
    --mb-4: 0;
    --mb-5: 0;
    --mb-6: 0;

    /*========== z index ==========*/
    --z-tooltip: 0;
    --z-fixed: 0;
}

/*========== BASE ==========*/


/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/
